@import "./tokens.css";
@import "./layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */
html,
body,
#root {
  height: 100%;
  background-color: var(--bg-main);
  color: var(--text-main);
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
